<h1>Editing Sala De Conferencium</h1>

<%= render 'form', sala_de_conferencium: @sala_de_conferencium %>

<%= link_to 'Show', @sala_de_conferencium %> |
<%= link_to 'Back', sala_de_conferencia_path %>
